.git
.gitignore

target
**/target

__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.tox

node_modules
**/node_modules

bindings/python/dist
**/*.egg-info
*.whl

.DS_Store
*.log
